.mauthor-chip {
	border-radius: 9999px 9999px;
	margin-bottom: -0.4em;
}

.mauthor-chip-unpadded {
	margin-bottom: 0;
}

.mauthor-chip-colored {
	background-color: transparent;
	/* override custom CSS */
	margin: -1px 0;
}

/*
     * Workaround for GTK padding an extra line at the bottom of the TextView if
	 * even one widget is inserted for some weird reason.
     */
.mauthor-haschip {
	margin-bottom: -1em;
}