@define-color blinker-heart-color #F7A8B8;

.blinker {
	color: @blinker-heart-color;
	margin: 6px;
	opacity: 0;
	transition: linear 650ms;
	transition-property: opacity, color;
}

.blinker-sync,
.blinker-syncing,
.blinker-downloading,
.blinker-error {
	transition: linear 100ms;
}

.blinker-sync {
	opacity: 0.8;
}

.blinker-syncing,
.blinker-downloading {
	color: alpha(@theme_fg_color, 0.5);
	opacity: 1;
}

.blinker-error {
	color: red;
	opacity: 1;
}