.mcontent-image-content {
	margin-top: 6px;
}

.mcontent-image {
	padding: 0;
	margin: 0;
	margin-left: -2px;
	border: 2px solid transparent;
	transition-duration: 150ms;
	transition-property: all;
}

.mcontent-image,
.mcontent-image:hover {
	background: none;
}

.mcontent-image:hover {
	border: 2px solid @theme_selected_bg_color;
}

.mcontent-image>* {
	background-color: black;
	transition: linear 50ms filter;
}

.mcontent-image:hover>* {
	filter: contrast(80%) brightness(80%);
}

.mcontent-image-errorlabel {
	color: @error_color;
	padding: 4px;
}