.mcontent-video {
	padding: 0;
	margin: 0;
	margin-top: 6px;
}

.mcontent-video-preview {
	background-color: black;
}

.mcontent-video-play-icon {
	background-color: alpha(@theme_bg_color, 0.85);
	border-radius: 999px;
	padding: 8px;
}

.mcontent-video:hover .mcontent-video-play-icon,
.mcontent-video:active .mcontent-video-play-icon {
	background-color: @theme_selected_bg_color;
}