.messageview-msglist {
	background: none;
	margin-bottom: .8em;
	/* for the extraRevealer */
}

.messageview-msglist>row {
	padding: 0;
	transition: linear 150ms background-color;
	background: none;
	background-image: none;
	background-color: transparent;
}

.messageview-msglist>row:focus,
.messageview-msglist>row:hover {
	transition: none;
}

.messageview-msglist>row:focus {
	background-color: alpha(@theme_fg_color, 0.125);
}

.messageview-msglist>row:hover {
	background-color: alpha(@theme_fg_color, 0.075);
}

.messageview-msglist>row.messageview-editing,
.messageview-msglist>row.messageview-replyingto {
	transition: none;
	background-color: alpha(@theme_selected_bg_color, 0.25);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: calc(100% - 5px) 5px;
}

.messageview-msglist>row.messageview-edited:hover,
.messageview-msglist>row.messageview-replyingto:hover {
	background-color: alpha(@theme_selected_bg_color, 0.45);
}

.messageview-msglist>row.messageview-replyingto {
	background-image: -gtk-icontheme("mail-reply-sender");
}

.messageview-msglist>row.messageview-editing {
	background-image: -gtk-icontheme("document-edit");
}