@define-color highlighted_message @theme_selected_bg_color;

/* .message-collapsed */
/* .message-cozy */
/* .message-event */

.message-message {
	margin: 0;
	padding-right: 8px;
	border-left: 2px solid transparent;
}

.message-mentions {
	border-left: 2px solid @highlighted_message;
	background-color: alpha(@highlighted_message, 0.05);
}

.message-blurred {
	opacity: 0.5;
}