.compose-upload-progress {
	border-top: 1px solid @borders;
	border-bottom: 1px solid transparent;
	padding: 5px 10px;
	padding-bottom: 10px;
}

.messageview-messagerow:not(:last-child) .compose-upload-progress {
	border-bottom: 1px solid @borders;
}